<h1>メンバー一覧</h1>

<%= link_to "新規作成", { action: "new" }, html_options = { class: "btn btn-primary" } %>

<br><br>

<% if flash[:success] %>
  <p class="bg-success"><%= flash[:success] %></p>
<% elsif flash[:destroy] %>
  <p class="bg-danger"><%= flash[:destroy] %></p>
<% end %>



<hr>

<table class="table table-hover table-bordered" >
  <thead>
    <th>名前</th>
    <th>アカウント名</th>
    <th>管理者</th>
    <th></th>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= h member.name %></td>
        <td><%= h member.account %></td>
        <td><%= h member.mark %></td>
        <td>
          <%= link_to '削除',
              admin_member_path(member),
              class: 'btn btn-danger',
              method: :delete,
              data: {confirm: "#{member.account} を削除してよろしいですか？"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
