<h1>新規作成</h1>

  <%= form_for @proceeding, html_options: {class:"form"} do |f| %>
    <div class="form-group">
      <%= f.label :date, "日付" %><br>
      <%= f.date_select :date, date_separator: '-' %>
    </div>

    <div class="form-group">
      <%= f.label :title, "タイトル" %><br>
      <%= f.text_field :title %>
    </div>

    <div class="form-group">
      <%= f.label :date, "議事" %><br>
      <%= f.text_field :sender_id %>
    </div>

    <div class="form-group">
      <%= f.label :date, "本文" %>
      <%= f.text_area :content, :size => "70x15" %>
    </div>

    <%= f.submit %>

<% end %>

<%= link_to '戻る', proceedings_path %>
